In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [0]:
project_id = 'glassy-mystery-232515'

In [0]:
query_place='''
  #standardSQL
SELECT count(reference), place
FROM `ggcd.tweet`
GROUP BY place
'''

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from pandas.io import gbq

In [5]:
questions = gbq.read_gbq(query=query_place, dialect ='standard', project_id=project_id)
questions

   f0_             place
0   24  McIntosh Lake:US
1    3             Braga

In [0]:
query='''
  #standardSQL
SELECT count(*)
FROM `ggcd.image`
'''

In [9]:
images = gbq.read_gbq(query=query, dialect ='standard', project_id=project_id)
images

   f0_
0   37

In [0]:
query_hashtag='''
  #standardSQL
SELECT count(*)
FROM `ggcd.hashtag`
'''

In [17]:
hashtags = gbq.read_gbq(query=query_hashtag, dialect ='standard', project_id=project_id)
hashtags

   f0_
0   20

In [0]:
query_top_hashtag='''
  #standardSQL
SELECT count(*), text
FROM `ggcd.hashtag`
GROUP BY TEXT
LIMIT 5
'''

In [23]:
hashtags_top = gbq.read_gbq(query=query_top_hashtag, dialect ='standard', project_id=project_id)
hashtags_top

   f0_                 text
0   20  MaineAkHypeBandOnEB

In [0]:
query_top3_labels='''
  #standardSQL
SELECT count(*), label_1
FROM `ggcd.image`
GROUP BY label_1
ORDER BY count(*) DESC
LIMIT 3
'''

In [57]:
label1_top = gbq.read_gbq(query=query_top3_labels, dialect ='standard', project_id=project_id)
label1_top

   f0_   label_1
0   13  lakeside
1   11       ski
2    8       alp

In [0]:
query_tweet='''
  #standardSQL
SELECT *
FROM `ggcd.image`
LIMIT 5
'''

In [64]:
images5 = gbq.read_gbq(query=query_tweet, dialect ='standard', project_id=project_id)
images5

                                        reference  ...        label_5
0  http://pbs.twimg.com/media/C_Udn4nUMAAgcIa.jpg  ...   dining_table
1  http://pbs.twimg.com/media/C_UdnvPVYAAZbEs.jpg  ...  traffic_light
2  http://pbs.twimg.com/media/C_UdnvPUwAE3Dnn.jpg  ...          canoe
3  http://pbs.twimg.com/media/C_Udn2UUQAADZIS.jpg  ...  trailer_truck
4  http://pbs.twimg.com/media/C_Udn2UUQAADZIS.jpg  ...  trailer_truck

[5 rows x 7 columns]

In [70]:
for t in images5['reference']:
  print(t)

http://pbs.twimg.com/media/C_Udn4nUMAAgcIa.jpg
http://pbs.twimg.com/media/C_UdnvPVYAAZbEs.jpg
http://pbs.twimg.com/media/C_UdnvPUwAE3Dnn.jpg
http://pbs.twimg.com/media/C_Udn2UUQAADZIS.jpg
http://pbs.twimg.com/media/C_Udn2UUQAADZIS.jpg